* {
	margin: 0;
	padding: 0;
}

body {
	font-family: arial, sans-serif;
	font-size: 12px;
	color: #1d2e40;
	cursor: default;
}

a {
	color: #06f;
	/*color: #5E85B1;
	color: #2c6ab0;*/
}

a:hover {
	color: #f44;
}

p {
	margin: 0.5em 0;
}

h2, h3, h4 {
	font-weight: normal;
	margin: 0.25em 0;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
}

.link-color-1 {
	color: #efb518;
}

.link-color-2 {
	color: #d1eb57;
}

.link-color-3 {
	color: #a4eb57;
}

.right {
	text-align: right;
}

.layout-box {
	width: 980px;
	height: 100%;
	margin: auto;
}

#layout-top {
	background: url('../images/top-gradient.png');
	color: #b2c3d4;
	font-size: 13px;
}

#layout-top strong {
	color: #fff;
}

#layout-top > div {
	background: url('../images/top-cien.png') right no-repeat;
	position: relative;
}

#layout-top h1 {
	width: 340px;
	height: 76px;
	background: url('../images/logo.png');
}

#layout-top h1 a {
	display: block;
	height: 100%;
	text-indent: -1000em;
}

#layout-top .text-line {
	position: absolute;
	right: 0;
	top: 10px;
	line-height: 2em;
	text-align: right;
}

#layout-bottom {
	position: fixed;
	bottom: 0;
	background: url('../images/stopka-gradient.png');
	width: 100%;
	height: 45px;
	color: #fff;
	line-height: 3.5em;
	/*-moz-box-shadow: inset 0 1px 7px #BABABA;
	-webkit-box-shadow: inset 0 1px 7px #BABABA;
    box-shadow: inset 0 1px 7px #BABABA;*/
}

#layout-menu-main {
	background: url('../images/menu-main-gradient.png');
	height: 39px;
}

#layout-menu-sub {
	background: url('../images/menu-sub-gradient.png');
}


#layout-menu-sub-empty {
	background: url('../images/menu-sub-gradient-empty.png');
	height: 10px;
}

#layout-menu-main ul, #layout-menu-sub ul {
	list-style: none;
	height: 100%;
}

#layout-menu-main ul li, #layout-menu-sub ul li {
	display: inline-block;
	height: 100%;
}

#layout-menu-main ul li.selected {
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	background: #eee;
	height: 34px;
	position: relative;
	top: 5px;
}
#layout-menu-main ul li.selected a {
	position: relative;
	top: -5px;
	color: #393936;
	height: 39px;
}

#layout-menu-main ul li a, #layout-menu-sub ul li a {
	display: inline-block;
	height: 100%;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	/*text-transform: uppercase;*/
	text-decoration: none;
	line-height: 2.5em;
	padding: 0 1em;
}

#layout-menu-sub ul li a {
	font-size: 12px;
	color: #393936;
	padding-top: 1px;
	padding-bottom: 1px;
}

#layout-menu-main ul li a:hover, #layout-menu-sub ul li a:hover {
	text-decoration: underline;
}

#layout-sidebar {
	float: right;
	width: 270px;
	margin-left: 40px;
	margin-bottom: 55px;
}

.sidebar {
	margin-right: 310px;
}
 
#layout-content {
	margin: 40px 0 55px;
}

.announce {
	/*min-height: 28px;*/
	border: 1px solid;
	margin: 1em 0;
	padding: 12px;
	padding-left: 50px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.error {
	border-color: #e28e7d;
	background: url('../images/error.png') no-repeat 5px 5px #ffdcdc;
}

.warning {
	border-color: #d0d0d0;
	background: url('../images/warning.png') no-repeat 5px 5px #fafaf6;
}

.success {
	border-color: #b8d17d;	
	background: url('../images/success.png') no-repeat 5px 5px #efffc9;
}

/* login */

.side-box {
	border: 1px solid #82acd6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-bottom: 2em;
}

.dialog-box {
	background: url('../images/side-box-bottom-gradient.png') repeat-x bottom;
}

.side-box-title {
	background: url('../images/side-box-gradient.png');
	font-size: 16px;
	font-weight: bold;
	color: #fefefe;
	height: 32px;
	line-height: 2em;
	padding: 0 0.5em;
}

#login-box {
	width: 370px;
	margin: auto;
}

.side-box-content {
	margin: 1em;
}

label {
	display: block;
	margin: 1em 0 0.25em;
}

/*.side-labels label {
	float: left;
	width: 200px;
	clear: both;
}*/

input, .sf_admin_td_actions a, .sf_admin_actions a, .sf_admin_filter a {
	border: 1px solid #d0d0d0;
	-moz-box-shadow: inset 2px 2px 3px #E6E6E6;
	-webkit-box-shadow: inset 2px 2px 3px #E6E6E6;
    box-shadow: inset 2px 2px 3px #E6E6E6;
}

input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus {
	border: 1px solid #c0c0c0;
	-moz-box-shadow: inset 2px 2px 3px #d0d0d0;
	-webkit-box-shadow: inset 2px 2px 3px #d0d0d0;
    box-shadow: inset 2px 2px 3px #d0d0d0;
}

input[type="text"], input[type="password"] {
	font-size: 1.4em;
	padding: 0.25em;
	width: 97%;
}

input[type="checkbox"] {
	position: relative;
	top: 2px;
	cursor: pointer;
}

table input[type="checkbox"] {
	position: static;
}

input[type="submit"], input[type="reset"], input[type="button"], .sf_admin_td_actions a, .sf_admin_actions a, .sf_admin_filter a {
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #1a2b3d;
	padding: 0.3em 0.5em;
	text-align: right;
	cursor: pointer;
	background: #9bc6f3;
	-moz-box-shadow: inset 0 1px 1px #bfdbf9, inset 0 -2px 2px #a0a9b3;
	-webkit-box-shadow: inset 0 1px 1px #bfdbf9, inset 0 -2px 2px #a0a9b3;
	box-shadow: inset 0 1px 1px #bfdbf9, inset 0 -2px 2px #a0a9b3;
	border: none;
	border-top: 1px solid #88b4e2;
}

.side-box ul {
	list-style: none;
}

.side-box ul > li {
	min-height: 25px;
	line-height: 24px;
	border-top: 1px solid #daebfe;
	padding: 1px 0;
}

.side-box ul > li:first-child {
	border-top: none;
}

.side-box ul > li > a {
	color: #000;
	text-decoration: none;
	display: block;
	height: 25px;
	background: url('../images/wolfpaw.png') no-repeat 4px 5px;
	padding-left: 20px;
}

.side-box ul > li > a:hover {
	background-color: #e4f1ff;
}

.side-box ul ul {
	list-style: disc;
	margin-left: 0px;
	padding-left: 40px;
}
.side-box ul ul ul {
	padding-left: 20px;
}
	
.side-box ul ul li {
	border: none;
}

.side-box ul ul li a {
	background: none;
	padding-left: 0;	
}

.side-box ul ul li a:hover {
	background: none;
	text-decoration: underline;
}

table {
	width: 100%;
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #5e85b1;
	padding: 0.25em 0.5em;
	text-align: left;
}

table th {
	background: url('../images/table-header-gradient.png') repeat-x center;
	color: #fff;
}

table tr:hover {
	background: #eee;
}

table tr.selected {
	font-weight: bold;
	background: #d1eb57;
}

table input[type="button"], .sf_admin_td_actions a, .sf_admin_actions a, .sf_admin_filter a {
	font-size: 11px;
	font-weight: normal;
	margin: 0 0.25em;
}

table tfoot tr:hover {
	background: none;
}

table tfoot td.nav {
	text-align: right;
	border: none;
	padding: 0.5em 0 0;
}

.ico-buttons {
	width: 15px;
	text-indent: 20em;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.ico-buttons.first {
	background-image: url('../images/table-nav-first.png');
}

.ico-buttons.prev {
	background-image: url('../images/table-nav-prev.png');
}

.ico-buttons.next {
	background-image: url('../images/table-nav-next.png');
}

.ico-buttons.last {
	background-image: url('../images/table-nav-last.png');
}

.sf_admin_td_actions, .sf_admin_actions {
	list-style: none;
}

.sf_admin_actions, .sf_admin_filter {
	margin: 6px 0;
}

.sf_admin_td_actions li, .sf_admin_actions li {
	display: inline;
}

.sf_admin_td_actions a, .sf_admin_actions a, .sf_admin_filter a {
	text-decoration: none;
	display: inline-block;
	padding: 0.4em 0.8em;
}

.sf_admin_actions input[type="submit"] {
	font-size: 11px;
	font-weight: normal;
}

.sf_admin_filter fieldset {
	padding: 5px;
}

.sf_admin_filter label {
	margin: 0;
	display: inline;
}

.sf_admin_filter ul {
	list-style: none;
}

.sf_admin_filter li {
	float: left;
	margin-right: 20px;
	margin-top: 9px;
}

.sf_admin_filter #filters-actions {
	float: right;
	clear: both;
	margin-top: 5px;
}

.sf_admin_filter #filters-actions input[type="submit"] {
	font-size: 11px;
	font-weight: normal;
}

.sf_admin_filter select, .sf_admin_filter input[type="text"], .sf_admin_filter input[type="password"] {
	font-size: 1.4em;
	padding: 1px 0;
	font-family: arial,sans-serif;
}

.sf_admin_filter input[type="text"], .sf_admin_filter input[type="password"] {
	width: auto;
	padding: 1px 4px;
}

.sf_admin_filter .ui-datepicker-trigger {
	vertical-align: bottom;
	cursor: pointer;
	margin-left: 2px;
}

.sf_admin_form .help {
	color: #aaa;
	font-size: 0.9em;
	margin: 0.5em;
}

.sf_admin_form .error_list {
	list-style: none;
	margin: 0.5em;
	color: #f00;
	font-weight: bold;
}

.errors input {
	border: 1px solid #f88;
	-moz-box-shadow: inset 2px 2px 3px #fcc;
	-webkit-box-shadow: inset 2px 2px 3px #fcc;
    box-shadow: inset 2px 2px 3px #fcc;
}

.errors input[type="text"]:hover, .errors input[type="text"]:focus, .errors input[type="password"]:hover, .errors input[type="password"]:focus {
	border: 1px solid #f00;
	-moz-box-shadow: inset 2px 2px 3px #faa;
	-webkit-box-shadow: inset 2px 2px 3px #faa;
    box-shadow: inset 2px 2px 3px #faa;
}

.sf_admin_form fieldset {
	border: none;
}

.sf_admin_form h2 {
	font-size: 20px;
}

.sf_admin_form .sf_admin_boolean label {
	display: inline;
}

.sf_admin_form .sf_admin_boolean .content {
	float: left;
	margin-right: 0.5em;
}

.sf_admin_pagination {
	float: right;
}

.sf_admin_pagination img {
	border: none;
	vertical-align: bottom;
}

.sf_admin_pagination a, .sf_admin_pagination .current {
	text-decoration: none;
	padding: 0 0.5em;
}
